/* 
==========================================
	1. Imported styles
==========================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import url(../css/bootstrap.min.css);

/* Font İçin */
@import url(../css/font-awesome.css);
@import url(../css/flaticon.css); /* Contact Sayfasındaki İkonlar İçin */

@import url(../assets/revolution/css/settings.css);
@import url(../assets/revolution/css/layers.css);
@import url(../assets/revolution/css/navigation.css);

@import url(../css/owl.carousel.css);

@import url(../css/jquery-ui.css);

@import url(../css/animate.min.css);

/* 
============================================
	2. Global styles
============================================
*/

:root {
	--logo-mavi: #00B9F2;
	--sari: #FFC104;
	--koyu-mavi: #00254A;
}

body {
	color:#222222;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p,ul { 
	margin:0;
	padding: 0;
}

h1,h2,h3,h4,h5 {
	font-family: 'Roboto', sans-serif;
} 

ul {
	list-style-type: none;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	line-height: 24px;
}

a {
	text-decoration: none; 
	display: inline-block; 
	outline: none;
}

a:hover,a:focus,a:visited {
	text-decoration: none; 
	outline: none;
}

img {
	width: 100%;
	display: inline-block;
}

button {
	border:none; 
	outline:none; 
	box-shadow: none; 
	display: block; 
	padding: 0; 
	background: transparent;
}

.boxed_wrapper {
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}

.uppercase {
	text-transform: uppercase;
}

.tran3s {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.center {
	text-align: center;
}

.row-5 {
	margin: 0 -5px;
}

.thm-color {
	color: var(--logo-mavi);
}

.bold {
	font-weight: 700;
}

.s-bold {
	font-weight: 600;
}

.m-bold {
	font-weight: 600;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

/*
===============================================
	3. button style
===============================================
*/

.thm-btn {
	position: relative;
	background: var(--sari);
	font-size: 14px;
	line-height: 42px;
	font-weight: 700;
	color: #ffffff;
	border: 2px solid var(--sari);
	text-transform: uppercase;
	display: inline-block;
	padding: 0 26px;
	font-family: 'Roboto', sans-serif;
	-webkit-transition:all .5s cubic-bezier(0.4, 0, 1, 1);
	transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.thm-btn:hover {
	background: transparent;
	color: #ffc104;
	-webkit-transition:all .5s cubic-bezier(0.4, 0, 1, 1);
	transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.theme_menu .link_btn {
	margin-top: 24px;
	color:#222222;
}

.button-style-one{
	margin-top: 8px;
	color: #000000;
	position:relative;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	transition:.5s;
	font-family: 'Roboto', sans-serif;
}

.button-style-one:before{
	content: "";
}

.button-style-one:hover{
	color:#ffc104;
}

.button-style-two{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform:uppercase;
	color: #ffc104;
	padding: 9px 23px;
	border: 1px solid #ffc104;
	letter-spacing: 1px;
}

.button-style-two:hover{
	color: #ffc104;
}

/*
=================================================
	4. Header Top Bar
=================================================
*/

.header-top{
	position:relative;
	font-size:13px;
	padding: 7px 0px;
	background: #00254a;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid var(--logo-mavi);
}

.header-top a{
	color:#ffffff;
	-webkit-transition:all 300ms ease;
	transition:all 300ms ease;  
}

.header-top .links-nav li{
	position:relative;
	float:left;
	margin-right:25px;
}

.header-top .top-right .links-nav li{
	margin-right:0px;
	margin-left:25px;
}

.header-top .links-nav li a{
	position:relative;
	line-height:26px;
	font-size:13px;
	color: #fff;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition:.5s;
	transition:.5s;
}

.header-top .links-nav li a:hover{
	color: var(--logo-mavi);
	-webkit-transition:.5s;
	transition:.5s;
}

.header-top .links-nav li .fa{
	padding-right:8px;
	font-size:16px;
	color: #ffffff;
}

.header-top .social-links a{
	position:relative;
	display:inline-block;
	font-size:13px;
	font-weight:normal;
	color: #fff;
	padding: 0px 15px;
	line-height:26px;
	border-left: 1px solid #ffffff;
}

.header-top .social-links a:last-child{
	border-right: 1px solid #ffffff;
}

.header-top a:hover{
	color: var(--logo-mavi) !important;
}

/*
==============================================
   5. Navbar - Mainmenu Area 
===============================================
*/

/* Logo */

.main-logo {
	margin: 5px 0px;
}

.main-logo img {
	width: 110px;
}

/* pc menu */

.mainmenu-area {
	background: #fff;
	theme_menu {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12); 
		background: #fff; 
	}
  	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mainmenu-area .main-menu {
	position: relative;
	margin-top: 29px;
}

.mainmenu-area .main-menu .navigation .nav-item-tercih a {
	padding-bottom: 8px !important;
}

.mainmenu-area .right-area .link_btn{
	margin-top: 24px;
}

.mainmenu-area .navigation > li.current > a {
	position: relative;
    color: var(--sari);
}

.mainmenu-area .navigation > li.current > a:before {
	content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 5px;
    background: var(--sari);
}

.mainmenu-area .main-menu .navigation {
	/* Navbar'daki itemleri "Tercih ettiğimiz markalar" iteminin ilk satırına hizalı olması için */
	display: flex;
	align-items: flex-start;
	/* Sola Hizalamak İçin */
	justify-content: end;
	/* max-height: 57px !important; */
}

.mainmenu-area .navigation > li.current > a:after {
	content: "";
}

.navbar-collapse {
	padding: 0px
}

.navigation {
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

.navigation li {
	display: inline-block;
}

.navigation li a {
	padding: 8px 13px 28px;
	text-transform: uppercase;
	color: #222;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

.navigation > li:hover > a {
	color: var(--sari);
}

/* mobile menu */

.mobile-menu > li > a {
	background: #fff;
	padding:10px 20px;
	line-height:22px;
	color: #222;
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	border-top: 1px solid var(--sari);
} 

.mobile-menu li.current a {
	color: var(--sari);
}

/* Mainmenu fixed style */

@-webkit-keyframes menu_sticky {
	0%   {margin-top: -100px;}
	50%  {margin-top: -90px;}
	100% {margin-top: 0;}
}

@keyframes menu_sticky {
	0%   {margin-top: -100px;}
	50%  {margin-top: -90px;}
	100% {margin-top: 0;}
}

.mainmenu-area.stricky-fixed {
	margin: 0;
	position: fixed;
	background: #fff;
	top:0;
	left:0;
	width: 100%;
	z-index: 99999;
	-webkit-animation-name: menu_sticky;
	animation-name: menu_sticky;
	-webkit-animation-duration: 0.60s;
	animation-duration: 0.60s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.mainmenu-area .right-area .link_btn{
	margin-top: 24px;
}


/* 
=============================================
	6. Rev Slider style
=============================================
*/

.rev_slider_wrapper .slide-content-box h1 {
	color: var(--logo-mavi);
	font-size: 60px;
	line-height: 62px;
	margin: 14px 0 9px;
	font-weight: 700;
	padding:0px 25px;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
}

.rev_slider_wrapper .slide-content-box h1 span{
	color:#ffc104;
	font-size: 70px;
}

.rev_slider_wrapper .slide-content-box h2{
	font-size: 45px;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-weight:700;
}

.rev_slider_wrapper .slide-content-box p{
	color: #ffffff;
	font-size: 15px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 0 0 30px;
}

.rev_slider_wrapper .button .thm-btn:hover{
	background: #fff;
    color: #ffc104;
	border:2px solid #ffc104;
	transition:.5s;
}

.rev_slider_wrapper .slide-content-box .button a{
	padding: 0px 22px;
	margin-right: 15px;
	transition: all 500ms ease !important;
	-moz-transition: all 500ms ease !important;
	-webkit-transition: all 500ms ease !important;
	-ms-transition: all 500ms ease !important;
	-o-transition: all 500ms ease !important;
}

.rev_slider_wrapper .slide-content-box .button a.thm-btn.our-solution{
	background: #fff;
	padding: 0px 35px;
	color: #222;
	border-color: #fff;
}

.rev_slider_wrapper .slide-content-box .button a.thm-btn.our-solution:hover{
	background: #48c7ec;
	color: #fff;
	border-color: #48c7ec;
}

.rev_slider_wrapper .slide-content-box.last-slide p{
	margin: 0;    
}

.rev_slider_wrapper .slide-content-box.last-slide a{
	margin: 0 8px;    
}

.rev_slider_wrapper .slotholder {
	position: relative;
}

.slotholder:after {
	background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.tp-bannertimer {
	/* background-color: rgba(255, 193, 4, 0.3); */
	background-color: rgba(0, 185, 242, 0.2);
}

.rev_slider_wrapper .tparrows {
	background: transparent;
	border: 2px solid #fff;
}

/* .rev_slider_wrapper .tp-rightarrow {
	background: transparent !important;
} */

/*
===============================================
	7. Sec title
===============================================
*/

.sec-title {
	position: relative;
	margin-bottom: 17px;
}

.sec-title h2 {
	position: relative;
    font-size: 30px;
    margin-bottom: 45px;
    text-transform: uppercase;
    font-weight: 500;
}

.sec-title h2:before {
	content: "";
    position: absolute;
    bottom: -10px;
    width: 55px;
    height: 3px;
    background: var(--logo-mavi);
}

/*
==================================================
  8. feature style
==================================================
*/

.feature {
	padding:100px 0px 0px;
}

.feature .item-list .item{
	margin-bottom: 50px;
	position: relative;
	transition: all ease-in 400ms;
	-webkit-transition: all ease-in 400ms;
	-moz-transition: all ease-in 400ms;
}

.feature .item-list .item:hover .overlay{
	bottom:0;
}

.feature .item-list .item:hover .content-box{
	opacity: 111;
}

.feature .item-list .item .content-box{
	top: 40%;
	margin-top: -30px;
	padding: 0px 45px 0px 15px;
	position: absolute;
	text-align: center;
	z-index: 1;
	color: #fff;
	opacity: 0;
}

.feature .item-list .item .content-box h3{
	margin-bottom: 10px;
    text-transform:uppercase;
    font-size:20px;
    font-weight:700;
}

.feature .item-list .item .overlay{
	background-color: rgba(0, 37, 74, 0.88);
	display: inline-block;
	left: 0;
	padding: 50px 30px 30px;
	position: absolute;
	right: 0;
	text-align: center;
	bottom: -100%;
	height: 100%;
	transition: all ease-in 500ms;
	-webkit-transition: all ease-in 500ms;
	-moz-transition: all ease-in 500ms;
	z-index: 0;
}

.feature .item-list .item .image-box{
	position:relative;
	overflow: hidden;
	border: 1px solid #ffc104;
}

.feature .item-list .item .image-box{
	overflow: hidden;
}

.feature .item-list .item .image-box img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 100%;
}

.feature .item-list .item:hover .image-box img{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.feature .item-list .item .feature-btn .button-style-two{
	border-radius: 50px;
	position: relative;
	top: -24px;
	font-size: 13px;
	background: #ffffff;
	border: 1px solid #00254a;
	color: #00254a;
	transition: .5s;
}

.feature .item-list .item:hover .feature-btn .button-style-two{
	background: #00254a;
	color: #fff;
	border: 1px solid #ffffff;
	transition: .5s;
}

/*
=============================================
	9. Fact Counter 
=============================================
*/

.fact-counter{
	position:relative;
	overflow:hidden;
	color:#ffffff;
}

.fact-counter:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0);
	opacity:0.80;
	z-index:0;
}

.fact-counter .auto-container{
	position:relative;
	z-index:1;
}

.fact-counter .column{
	position:relative;
	margin-bottom:40px;
	text-align:center;
	z-index:5;  
}

.fact-counter .item {
	color: #222;
}

.fact-counter .column .icon span{
	position:relative;
	top:0px;
	font-size: 50px;
	position: absolute;
	line-height:70px;
	top: -5px;
	left: 0;
	margin-bottom:20px;
	color: #ab7442;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.fact-counter .count-outer{
	margin-top: 10px;
	color: #f8f8f8;
	position: relative;
	font-size: 40px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}

.fact-counter .counter-outer{
	padding: 50px 0px 0px;
}

.fact-counter .counter-outer .item .inner-box{
	position: relative;
}

.fact-counter .counter-outer .item .inner-box .icon-box i{
	color: #ffc104;
}
.fact-counter .counter-outer .item .inner-box .icon-box i:before{
	margin: 0;
	font-size: 54px;
}

/*
========================================================
   10. Home - latest-projects 
========================================================
*/

.latest-projects{
	padding: 80px 0px 60px;
	background: #f7f7f7;
}

.latest-projects .sec-title h2:before{
	left: 50%;
	margin-left: -27px;
}

.latest-projects .single-item {
	padding-bottom: 30px;
}

.latest-projects .single-item .img-box {
	position: relative;
	overflow: hidden;
}

.latest-projects .single-item .img-box .overlay {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 37, 74, 0.88);
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
}

.latest-projects .single-item .img-box img{
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 100%;
}

.latest-projects .single-item:hover .img-box img{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.latest-projects .single-item .img-box .overlay .social {
	display: table-cell;
    vertical-align: middle;
    position: relative;
}

.latest-projects .single-item .img-box .overlay .inner {
	display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

.latest-projects .single-item .social h4 {
	font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
}

.latest-projects .single-item:hover .img-box .overlay {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
}

.latest-projects .link_btn {
	text-align: center;
	justify-content: center;
}

.latest-projects .link_btn .thm-btn {
	background-color: var(--logo-mavi);
	border-color: var(--logo-mavi);
	font-size: 20px;
}

.latest-projects .link_btn .thm-btn:hover {
	background-color: #fff;
	color: var(--logo-mavi);
}

/* 
=======================================================
	10. call-to-action styles
=======================================================
*/

.call-to-action {
	background: var(--koyu-mavi);
	padding: 40px 0;
	color: #fff;
}

.call-to-action h3 {
	font-size: 34px;
	font-weight: 700;
	margin: 0;
	line-height: 30px;
	margin: 16px;
}

.call-to-action p {
	margin: 0;
}

.call-to-action a.thm-btn {
	padding: 0px 24px;
    margin: 7px 0;
    border-radius: 25px;
	border-color: var(--logo-mavi);
    background: #fff;
    color: #222222;
    letter-spacing: 1px;
    transition:.5s;
}

.call-to-action a.thm-btn.inverse:hover {
	color: #fff;
	background: var(--logo-mavi);
	transition:.5s;
}

/* 
==========================================================
	11. Parallax Style One
==========================================================
*/

.parallax-style-one{
	position:relative;
	padding: 80px 0px 80px;
	background-size:cover;
	background-repeat:repeat;
	background-attachment:fixed;
	background-position:center center;
	color:#ffffff;
}

.parallax-style-one .overlay:before {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 37, 74, 0.88);
    opacity: 1;
    content: "";
}

.parallax-style-one .sec-title{
	text-align:center;
	margin-bottom: 40px;
}

.parallax-style-one .sec-title h2{
	font-weight: 700;
	line-height: 39px;
	text-transform: none;
}

.parallax-style-one .sec-title h2:before{
	display: none;
}

.parallax-style-one .sec-title p{
	max-width:650px;
	margin: 0 auto;
	margin-top: 15px;
}

.parallax-style-one .link_btn li{
	display:inline-block;
    margin: 20px 10px 0px 0px;
}

.parallax-style-one .link_btn li a{
	letter-spacing:1px;
}

.parallax-style-one .link_btn .thm-btn.style-two:hover{
	background: transparent;
	color: #ffc104;
	border:2px solid #fff;
	color:#fff;
}

.fact-counter .count-outer .plus-sign {
	font-size: inherit; /* Sayı ile aynı boyutta olsun */
    font-weight: bold; /* İsterseniz daha belirgin yapın */
    margin-left: -6px; /* Sayı ile arasında küçük bir boşluk bırakır */
    vertical-align: top; /* Sayı ile aynı hizada olmasını sağlar */
}

/* 
==============================================
	12. Google Map Section 
==============================================
*/

.home-google-map .google-map {
	width: 100%;
	height: 400px;
}

.home-google-map .gmnoprint {
    display: none;
}

/*
=================================================================
	13. Page title style
=================================================================
*/

.page-title {
	background: url(../images/background/bg-2.jpg)no-repeat;
	padding: 135px 0px 135px;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.page-title .clearfix .pull-left{
	position:relative;
	z-index: 10;
}

.page-title .clearfix .pull-right{
	position:relative;
	z-index: 10;
}

.page-title .overlay:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 37, 74, 0.75);
    opacity: 1;
    content: "";
}

.page-title h1{
	font-size: 30px;
	font-weight: 700;
	line-height:30px;
	text-transform:uppercase;
	color:#ffffff;  
}

.page-title p{
	color:#fff;
	margin-top: 14px;
	letter-spacing: 1px;
}

.page-title .path{
	font-size:14px;
	color:#ffffff;
	font-weight:600;
	line-height: 28px;
	padding: 18px 15px 0px;
}

.page-title .path a{
	position:relative;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	transition:.5s;
}

.page-title .path a:hover{
	color: var(--logo-mavi);
	transition:.5s;
}

/*
=======================================================
	14. About
=======================================================
*/

.about-us{
	padding: 80px 0px 80px;
	background: #f7f7f7;
}

.about-us .sec-title{
	text-align: center;
	margin-bottom: 50px;
}

.about-us .sec-title h2:before {
	content: "";
    position: absolute;
    left:50%;
    margin-left: -28px;
    bottom: -10px;
    width: 56px;
    height: 3px;
    background: var(--logo-mavi);
}

.about-us .about-info .text
.about-us .about-info .text p{
	color: #848484;
}

.about-us .about-info .link_btn{
	margin-top: 20px;
}

/* benifit-list */
.benifit-list li {
	margin: 5px 0;
	color: #848484;
	font-size: 14px;
}

.benifit-list li i {
	color: var(--logo-mavi);
    margin-right: 15px;
    font-weight: 700;
    font-size: 18px;
}

.about-us .link_btn a{
	background-color: var(--logo-mavi);
	border: var(--logo-mavi);
}

.about-us .link_btn a:hover {
	background-color: #fff;
	color: var(--logo-mavi);
	border: solid 1px var(--logo-mavi);
}

/*** 
====================================================================
    15. Service
====================================================================
***/

.service {
	position: relative;
	padding: 80px 0px 30px;
}

.service.style-2{
	padding:80px 0px 80px;
}

.service .item {
	padding: 4px;
	margin-bottom: 5px;
	border: 1px solid #ededed;
}

.service.style-2 .sec-title{
	margin-bottom: 0px;
}

.service.style-2 .sec-title h2{
	margin-bottom: 0px;
}

.service.style-2 .single-column{
	margin-top: 50px;
}

.service .item:before {
	pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 98%;
    left: 10%;
    right: 10%;
    height: 15px;
    width: 80%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    z-index: 9;
}

.service .item:hover:before {
	opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.service .item .img-box {
	position: relative;
	overflow: hidden;
}

.service .item .img-box img {
	width: 100%;
}

.service .item .default-overlay-outer{
	opacity:0;
	top:-100%;
	background: rgba(0, 37, 74, 0.5);
}

.service .item:hover .default-overlay-outer{
	top:0;
	opacity:1;  
}

.service .item .thm-btn {
	padding: 0 25px;
	line-height: 34px; 
}

.service .owl-carousel .owl-stage-outer {
	padding-bottom: 50px;
}

.service .content {
	padding: 12px 8px;
}

.service .content h4 {padding: 15px 0;
	font-size: 20px;
	color: #222;
}

.service .owl-theme .owl-nav {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 100%;
    right: 0;
    margin: 0;
    margin-bottom: 10px;
}

.service .owl-theme .owl-nav [class*=owl-] {
    color: #202f35;
    font-size: 26px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    height: 40px;
    width: 22px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-left: 1px;
    display: inline-block;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.service .owl-theme .owl-nav [class*=owl-]:hover {
    color: var(--logo-mavi);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.service .thm-btn {
	background-color: var(--logo-mavi);
	border-color: var(--logo-mavi);
}

.service .thm-btn:hover {
	background-color: #fff;
	color: var(--logo-mavi);
	border-color: var(--logo-mavi);
}

/*** 
=============================================
    15. page_pagination style
=============================================
***/

/* . {
	text-align: center;
	padding-top: 20px;
} */

.page_pagination li {
	display: inline-block;
	margin:0 4px;
}

.page_pagination li a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border:1px solid rgba(229, 229, 229, 0.57);
	text-align: center;
	color: #848484;
	font-size: 18px;
}

.page_pagination li a.active,
.page_pagination li a:hover {
	color:#fff;
	background: #ffc104;
}

/*
=================================================
	16. Project 
=================================================
*/

.blog-latest-news {
  padding: 100px 0px 100px;
}

.blog-latest-news.style-two {
  padding:0px 15px 50px;
}

.blog-latest-news .item {
  margin-bottom:70px;
}

.blog-latest-news .item h4 {
  font-weight: 500;
  font-size: 18px;
  padding: 30px 0px 5px;
  color: #222222;
}

.blog-latest-news .item p {
  margin-top: 14px;
  color: #848484;
}

.blog-latest-news .item .image-box {
  position: relative;
}

/*** 
=============================================
    17. Preference
=============================================
***/

.shop {
	position: relative;
	padding: 80px 0px 80px;
}

.shop .hover-effect {
	margin-bottom: 15px;
	padding-top: 10px;
	transition: .5s ease;
}

.shop .hover-effect:hover {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: .5s ease-in-out;
}

.single-shop-item .img-box {
	position: relative;
	overflow: hidden;
	border: 1px solid #fff;
	transition: .5s ease;
	background: #f7f7f7;
}

.single-shop-item:hover .img-box {
	transition: .5s ease;
}

.single-shop-item .thm-btn.thm-tran-bg {
	color: #ffffff;
	border-color: #fff;
}

.single-shop-item .thm-btn:hover {
	color: var(--logo-mavi);
	border-color: var(--logo-mavi);
	background: #ffffff;
}

.single-shop-item:hover .img-box .overlay {
	background-color: rgba(255, 255, 255, 0.9);
}

.single-shop-item:hover .img-box .overlay .box .content ul li a {
	opacity: 1;
	transform: translate3d(0px, 0px, 0);
}

.default-overlay-outer{
	position:absolute;
	display:block;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	padding:10px;
	transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
	-moz-transition:all 700ms ease;
}

.default-overlay-outer .inner{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:table;
	vertical-align:middle;
	text-align:center;
}

.default-overlay-outer .inner .content-layer{
	position:relative;
	display:table-cell;
	vertical-align:middle;
	color:#ffffff;
}

.single-shop-item .default-overlay-outer{
	opacity:0;
	top:-100%;
	background: rgba(0, 37, 74, 0.88);
}

.single-shop-item:hover .default-overlay-outer{
	top:0;
	opacity:1;  
}

.single-shop-item .content-box{
	position:relative;
	padding: 20px 0px;
}

.single-shop-item .content-box h4{
	font-size: 14px;
	font-weight: 600;
	margin:0px 0px;
	line-height:1.4em;
	color: #252525;
	margin-bottom: 6px;
}

.single-shop-item .content-box h4 a{
	color: #252525;
	text-transform: uppercase;
}

/*
===================================================
	18. Contact - feature-style-three
===================================================
*/

.feature-style-three {
	padding: 72px 0px;
}

.feature-style-three .item-list {
	border-bottom: 1px solid #ededed;
}

.feature-style-three .item-list .row {
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px; /* kutular arası boşluk */
}

.feature-style-three .item-list .item {
	width: 100%;
	display: flex;
	justify-content: center;
}

.feature-style-three .item-list .item .column {
	max-width: 600px;
	width: 100%;
	padding: 20px;
}

.feature-style-three .item-list .item .inner-box {
	display: flex;
	align-items: flex-start; /* ikon başlığa hizalansın */
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.feature-style-three .item-list .item .inner-box .icon-box {
	margin-right: 20px;
	flex-shrink: 0;
}

.feature-style-three .item-list .item .inner-box .icon-box .icon {
	font-size: 46px;
	color: var(--logo-mavi);
	line-height: 1;
}

.feature-style-three .item-list .item .inner-box .icon-box .icon:before {
    font-size: 25px !important; /* !important ekledik */
}

.feature-style-three .item-list .item .inner-box .content {
	display: flex;
	flex-direction: column;
}

.feature-style-three .item-list .item .inner-box h3 {
	font-size: 20px;
	color: #222222;
	margin-bottom: 5px;
	font-weight: 600;
	text-align: left;
}

.feature-style-three .item-list .item .inner-box .text p {
	color: #666;
	font-size: 16px;
	line-height: 1.6;
	text-align: left;
	font-family: 'Roboto', sans-serif;
}

/*** 
=============================================
	19. Brand Area
=============================================
***/

.brand-area {
	padding-top: 50px;
	padding-bottom: 50px;
	background: var(--koyu-mavi);
}

.brand-area .brand .owl-stage-outer{
	z-index:10;   
}

.brand-area .brand .single-item {
	height: 105px;
	border: 1px dashed #dadada;
	text-align: center;
	justify-content: center;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
	display: flex;
}

.brand-area .brand .single-item img {
	object-fit: contain;
	width: 100%;
	height: 100%; 
	opacity: 1;
	padding: 10px;
	position: relative;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
}

.brand-area .brand .single-item:hover{
	border: 1px dashed var(--logo-mavi);
}

.brand-area .brand .single-item:hover img{
	opacity: .6;
}

.brand-area .owl-controls {
	display: none;
}

/*
===================================================
	20. footer 
===================================================
*/

.footer {
	position: relative;
	background: url(../images/background/bg-1.jpg);
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.footer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 37, 74, 0.88);
	z-index: -1;
}

.footer .footer-upper {
    padding: 75px 0 65px;
}

.footer p {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:14px;
	color: #fff;
	line-height: 27px;
}

.footer .footer-upper {
    padding: 10px 0px 25px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-widget ul li {
    list-style: none;
}

.footer-upper .about-widget {
    display: flex;
    flex-direction: column;
}

/* .footer-upper .about-widget .footer-logo {
	text-align: center;
	justify-content: center;
    align-items: center;  
} */

.footer-upper .about-widget img {
    max-width: 200px; 
    height: auto; 		/* Orantılı küçülmesi için yüksekliği otomatik bırakıldı*/
    margin-bottom: 17px;
    /* display: block; 	/* Margin auto ile yatayda ortalamak için block element olmalı */
    /* margin-left: auto; 	/* Yatayda ortalamak için */
    /* margin-right: auto; /* Yatayda ortalamak için */
}

.footer-widget h3.title {
    font-size: 24px;
    text-transform: capitalize;
    margin: 0;
}

.footer-widget.quick-links ul li a {
    font-size: 14px;
    line-height: 38px;
    transition: all .3s ease;
}

.footer-widget.quick-links ul li {
    margin-bottom: 8px;
}

.footer .footer-upper .item{
	margin-top: 40px;
}

.footer .footer-upper .link_btn .button-style-one{
	color: #fff;
	margin-top: 20px;
	border-bottom: 1px solid #fff;
}

.footer-widget h3.title {
    margin-bottom: 31px;
    position: relative;
    font-weight: 500;
    color: var(--logo-mavi);
}
   
.footer-widget.quick-links ul li a {
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    padding-bottom: 7px;
    padding-left: 15px;
    position: relative;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
 
/* Hızlı Menü Link İkonları */
.footer-widget.quick-links ul li a:before {
    color: #ffffff;
    content: '\f105';
    font-family: "FontAwesome";
    font-size: 12px;
    left: 0;
    line-height: 16px;
    position: absolute;
    top: 2px;
}
   
.footer-widget.quick-links ul li a:hover {
    color: var(--logo-mavi);
}

/*
===================================================
	21. footer bottom bar
===================================================
*/

.footer-bottom {
	background-color: var(--koyu-mavi);
	padding: 25px !important;
	margin: 0 !important;
  	color:#d1d1d1;
  	padding: 20px 0px 54px;
	text-align: center;
}

.footer-bottom .social-links a {
	display:inline-block;
	font-size: 20px;
	font-weight:normal;
	color: #fff;
	padding: 0px 15px;
	line-height:26px;
}

.footer-bottom a:hover span {
	color: var(--logo-mavi);
}

.footer-bottom .copyright-text {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:14px;
	color: #fff;
}

.footer-bottom a {
	color: var(--logo-mavi);
	text-transform: none;
}

.footer-bottom a:hover {
	color: #fff;
}

/*
=================================================
	22. Call Buttons
=================================================
*/

.call-me {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    z-index: 999;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    pointer-events: none; /* tıklanamaz hale getir */
}

.call-me:hover {
    transform: scale(1.1);
}

/* Sol alt - Telefon */
.call-me.tel {
    left: 30px;
    background-color: var(--logo-mavi);
}

.call-buttons .tel:hover {
	color: var(--logo-mavi);
	background-color: #fff;
}

/* Sağ alt - WhatsApp */
.call-me.wp {
	right: 30px;
    background-color: #25d366;
}

.call-buttons .wp:hover {
	color: #25d366;
	background-color: #fff;
}

/* Görünür hale gelince */
.call-me.visible {
    opacity: 1;
    pointer-events: auto; /* tıklanabilir hale getir */
}

/*
=================================================
	23. Loader
=================================================
*/

.preloader { 
	position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%;
 	z-index:999999; 
	background-color:#ffffff; 
	background-position:center center;
  	background-repeat:no-repeat; 
	background-image:url(../images/icons/preloader.gif);
}

/*
=================================================
	24. Intersection Observer
=================================================
*/
