<IfModule mod_expires.c>
  ExpiresActive On

  # CSS ve JS dosyaları için 1 ay önbellek süresi
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Resimler için 1 yıl önbellek süresi
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
</IfModule>
